<h1> Employee List </h1>
<div class="alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Errand Today</th>
        <th>Employee Number</th>
        <th>Employee Name</th>
        <th>Last Errand Date</th>
        <th>Is Present</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.lucky}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.lastErrandDate | date}}</td>
        <td>{{employee.present}}</td>
        <td>
          <button (click)="updateEmployee(employee.id)" class="btn btn-warning">Update</button>
        </td>
        <td>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <td><button (click)="addEmployee()" class="btn btn-success">Add Employee</button></td>
    <td><button (click)="retrieveLuckyEmployee()" class="btn btn-info">Who's on Errand Today?</button></td>
  </div>
</div>
